<div class="page-header">
<h1 class="tagline">About me!</h1>
</div>
<div class="image_holder">
  <img src="/assets/pic.png" alt="Mallinath's Web Blogging App" height="180" width="130"/>
</div>
<div class="container">
<p class="tagline">"My name is Mallinath Nagaraj, you can call me Mally… all my friends do. I am currently enrolled as a student in the Web Development bootcamp offered at <strong>CodeCore Inc</strong>, a PCTIA approved institute delivering courses in Web Development. I am based in the beautiful city of Vancouver, BC."</p>
<br />
<p class="tagline">
  I have been associated with Information Technology for the past eight years. I worked as a Senior Business Analyst in the Higher Education domain for Talisma based out of Bengaluru, India. During this stint, I have travelled across Geographies to elicit, acquire and implement business solutions for Higher Education institutions.
</p>
<br />
<p class="tagline">
  During all these years, I have worked with distributed solutions deployed across networks on Windows platforms. I moved recently to Vancouver, Canada and my primary focus has been on web development. I have now acquired many skills and toolsets to my repertoire ranging from managing software development lifecycle to coding web applications.
</p>
</div>
