<div class="jumbotron">
  <div class= "container">
  <h1>Welcome to my Blog Application</h1>
  <p> This Web app was developed as part of the curriculum in the bootcamp. The front end is responsive and uses bootstrap. Server scripts were coded with Ruby on Rails and the data is served by Postgresql. You may sign up and start blogging or else take a look at some of the posts logged by users. I hope you return to check posts and then log in your own!!</p>
  <p><%= button_to "All Posts", posts_path, method: :get, :class=>'btn btn-primary btn-lg'%></p>
</div>
</div>
