<h1> All Posts <span class="badge"><%= Post.all.length %></span></h1>

<% @posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
  <hr>
<%end%>

<div id="paginate">
  <%= will_paginate @posts%>
</div>
